# Study Workbook

This workbook is where I will create drafts and ideas for final project.
The aim when studying is to provide ChatGPT with my ideas for analysis, once it provides the code needed I will then follow up to better understand through other resources like Data Camp, Real Python etc.

For Penguins Dataset we are given 8 different colums to work with.
All the data is associated with 3 different types of penguins: Adelie, Chinstrap & Gentoo
Data to Analyse:
1) Min Vs Max Vs Average - Body Mass, Flipper Length , Bill Length and Bill Width for all 3 Penguins
Idea from https://github.com/maladeep/palmerpenguins-streamlit-eda 

2) Bar Charts - Will look at variables species, island and sex.

3) Histograms - Will look at remaining variables as they are numeric.

*Main libraries to focus on are Numpy, Pandas and Matplot Lib*

In [14]:
from palmerpenguins import load_penguins

# Load the palmerpenguins dataset
penguins = load_penguins()

# Display the first few rows of the dataset to verify that it's loaded correctly
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [13]:
# Using Pandas Groupby function to get the min and max body mass for each penguin

import pandas as pd
from palmerpenguins import load_penguins

# Load the palmerpenguins dataset
penguins = load_penguins()

# Groupby function is one I have come across before however the .agg & .size parts are new
min_max_mean_body_mass = penguins.groupby('species')['body_mass_g'].agg(['min', 'max', 'mean']).round(1)
min_max_mean_bill_length_mm = penguins.groupby('species')['bill_length_mm'].agg(['min', 'max', 'mean']).round(1)
min_max_mean_bill_depth_mm = penguins.groupby('species')['bill_length_mm'].agg(['min', 'max', 'mean']).round(1)
min_max_mean_flipper_length_mm = penguins.groupby('species')['bill_length_mm'].agg(['min', 'max', 'mean']).round(1)

print(min_max_mean_body_mass)
print(min_max_mean_bill_depth_mm)
print(min_max_mean_bill_length_mm)
print(min_max_mean_flipper_length_mm)

              min     max    mean
species
Adelie     2850.0  4775.0  3700.7
Chinstrap  2700.0  4800.0  3733.1
Gentoo     3950.0  6300.0  5076.0
            min   max  mean
species
Adelie     32.1  46.0  38.8
Chinstrap  40.9  58.0  48.8
Gentoo     40.9  59.6  47.5
            min   max  mean
species
Adelie     32.1  46.0  38.8
Chinstrap  40.9  58.0  48.8
Gentoo     40.9  59.6  47.5
            min   max  mean
species
Adelie     32.1  46.0  38.8
Chinstrap  40.9  58.0  48.8
Gentoo     40.9  59.6  47.5