# Palmer Penguins 

This notebook contains my analysis of the palmer penguins data set.

In [6]:
import pandas as pd
from palmerpenguins import load_penguins

# Load the palmerpenguins dataset
penguins = load_penguins()

species_count = penguins.groupby(['species', 'island','sex']).size()

print(species_count)

species    island     sex
Adelie     Biscoe     female    22
                      male      22
           Dream      female    27
                      male      28
           Torgersen  female    24
                      male      23
Chinstrap  Dream      female    34
                      male      34
Gentoo     Biscoe     female    58
                      male      61
dtype: int64

For the below code I asked ChatGPT how to upload and see a sample of the data set.

load_penguins is a palmerpenguins specific function to load the dataset.
.head function is used to show all columns and the first 5.

In [2]:
from palmerpenguins import load_penguins

# Load the palmerpenguins dataset
penguins = load_penguins()

# Display the first few rows of the dataset to verify that it's loaded correctly
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [1]:
pip install palmerpenguins

Requirement already satisfied: palmerpenguins in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.1.4)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from palmerpenguins) (1.26.3)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from palmerpenguins) (2.2.0)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->palmerpenguins) (2023.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/davidosullivan/Library/Python/3.10/lib/python/site-packages (from pandas->palmerpenguins) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->palmerpenguins) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/davidosullivan/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 23.3.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.